/*all font style and color*/
* {
    font-family: 'Lato', sans-serif;
    color: black;
}
h1{
    color:rgb(255, 0, 85);
    text-decoration: underline;
    text-align:center;
}
#attendent{
    color:#a52a2a;
}

body{
    background-color:rgb(172, 247, 137);
}
.box-1{
    margin: 10px 10px 10px 10px;
    width: 22em;
    background-color: hsl(15, 72%, 70%);
    padding-top: 2vh;
    padding-left: 2px;
    padding-right: 20px;
    padding-bottom: 2ex;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    flex-direction: column; 
    
}
.box-3{
    margin: auto;
    width: 90%;
    background-color: hsl(177, 73%, 70%);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 10px;
    justify-items:flex-end;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
nav{
    border-style:groove;
    border-color: deepskyblue;
    border-width: 1cm;
    border-radius: 1%;
    width: 70%;
    margin: 10px 10px 10px 10px;
    padding: 1pc 1pc 1pc 1pc;
}
.image1{
    position: static;
    max-width: 90%; 
    min-width: 30%;
}
.image2{
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
    left: 800px;

}

/*Pesudo-class selector*/
a:hover {
    color:orange;
}

a:active {
    color:red;
}
/*child combinator*/
footer > section{
    display: none;
}

 
/*selector list*/
p, label {
    color:rgb(129, 63, 205);
}

/* changed all the label in form to orange, Descendant Combinator */
body h3 {
    color: rgb(17, 0, 255);
}
/*Adjacent sibling combinator*/
h1 + h2{
    text-decoration: underline;
}
/*General sibling combinator */
section ~ h3{
    font-size: medium;
}
