/*all font style and color*/
* {
    font-family: 'Lato', sans-serif;
    color: black;
}
h1{
    color:rgb(255, 0, 85);
    text-decoration: underline;
    text-align:center;
}
#attendent{
    color:#a52a2a;
}

body{
    background-color:rgb(172, 247, 137);
}
.box-1{
    margin: 10px 10px 10px 10px;
    width: 20em;
    background-color: hsl(15, 72%, 70%);
    padding-top: 2vh;
    padding-left: 2px;
    padding-right: 20px;
    padding-bottom: 2ex;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    flex-direction: column; 
    
}
.box-3{
    margin: auto;
    width: 90%;
    background-color: hsl(177, 73%, 70%);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 10px;
    justify-items:flex-end;
}
